* {
    margin: 0px;
    padding: 0px;
}

#container {
    width: auto;
    height: auto;
    transition: all;
    font-family: 'Balsamiq Sans', cursive;
}

#wrapper {
    width: 1000px;
    margin: auto;
    height: 2000px;
}

#navwrap {
    width: 100%;
    height: 100px;
    background-color:rgb(115, 179, 209);
}

#navbar {
    width: 1000px;
    height: 100px;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    font-size: 32px;
}

#navcities {
    margin-right: 0px;
    margin-left: auto;
    width: 500px;
    display: flex;
    justify-content: space-around; 
}

.city {
    border: none;
    font-size: 30px;
    font-family: 'Balsamiq Sans', cursive;
    background-color: rgb(115, 179, 209);
    color: white;
    cursor: pointer;
}

#optionbar {
    width: 1000px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

#currentcity {
    height: inherit;
    display: flex;
    align-items: center;
    font-size: 45px;
}

#selector {
    margin-right: 0px;
    margin-left: auto;
    height: inherit;
    display: flex;
    align-items: center;
    font-size: 25px;
}

#tempoption {
    margin-left: 10px;
    font-size: large;
    font-family: 'Balsamiq Sans', cursive;
    height: 35px;
    border: 3px solid black;
}

#forcast {
    width: 1000px;
    height: 400px;
    margin: auto; 
    display: flex;  
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
}

.weather {
    width: 200px;
    margin-left: 25px;
}

.day {
    padding-top: 40px;
    width: 250px;
    height: 325px;
    display: block;
}

.h3, .h4, .high {
    display: flex;
    justify-content: center;
}

.h3 {
    font-size: 30px;
}

.h4 {
    font-size: 20px;
}

.h5h, .h5l {
    padding-top: 35px;
    font-size: 25px;
}

.h5h {
    padding-right: 20px;
    color: red;
}

.h5l {
    padding-left: 20px;
    color: rgb(66, 96, 233);
}

#cookie {
    width: 969px;
    height: 150px;
    padding-left: 25px;
    position: fixed;
    bottom: 50px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    
}

#h6 {
    padding-left: 30px;
    font-size: 35px;
    font-weight: bold;
}

.pbody{
    padding-left: 30px;
    font-size: 20px;
    width: 550px;
}

#link {
    color: blue;
}

#accept {
    width: 125px;
    margin-left: 175px;
    font-size: 25px;
    font-family: 'Balsamiq Sans', cursive;
    background-color: rgb(109, 150, 245);
    
    border: 3px solid black;
    box-shadow: 4px 4px black;
}

